<configuration>

  <!-- Disable IIS caching for directories containing Angular templates and scripts -->
  <location path="assets">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache"/>
      </staticContent>
    </system.webServer>
  </location>

...
</configuration>